.container {
  position: relative;
}

@media screen and (max-width: 768px) {
  .container {
    position: absolute;
    left: 0;
    width: 100%;
  }
}

.wrapper {
  display: block;
  overflow: hidden;
  height: 245px;
}

@media screen and (max-width: 768px) {
  .wrapper {
    height: 196px;
  }
}

.content {
  height: 100%;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.content::-webkit-scrollbar {
  display: none;
}

.rightButton,
.leftButton {
  position: absolute;
  width: 32px;
  height: 32px;
  background-color: black;
  top: 50%;
  margin-top: -16px;
  border-radius: 6px;
  box-shadow: 0px 4px 3px rgba(13, 11, 12, 0.2);
  cursor: pointer;
  text-align: center;
  line-height: 26px;
}

.rightButton {
  background-color: black;
  right: -53px;
}

.leftButton {
  background-color: white;
  left: -53px;
}

@media screen and (max-width: 768px) {
  .rightButton,
  .leftButton {
    display: none;
  }
}
